{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <style>
        body,
        html {
          background-color: #ebecf0;
        }

        body,
        p,
        input,
        select,
        textarea,
        button {
          letter-spacing: -0.2px;
          font-size: 16px;
        }

        form {
          padding: 16px;
          width: 320px;
          margin: 0 auto;
        }

        .segment {
          padding: 32px 0;
          text-align: center;
        }

        button,
        input {
          border: 0;
          outline: 0;
          font-size: 16px;
          border-radius: 320px;
          padding: 16px;
          background-color: #ebecf0;
          text-shadow: 1px 1px 0 #fff;
        }

        label {
          display: block;
          margin-bottom: 24px;
          width: 100%;
        }

        input {
          margin-right: 8px;
          box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
          width: 100%;
          box-sizing: border-box;
          transition: all 0.2s ease-in-out;
          appearance: none;
          -webkit-appearance: none;
        }
        input:focus {
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
        }

        button {
          color: #61677c;
          box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          font-weight: 600;
        }
        button:hover {
          box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
        }
        button:active {
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
        }
        button .icon {
          margin-right: 8px;
        }
        button.unit {
          border-radius: 8px;
          line-height: 0;
          width: 48px;
          height: 48px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 8px;
          font-size: 19px;
        }
        button.unit .icon {
          margin-right: 0;
        }
        button.red {
          display: block;
          width: 100%;
          color: #ae1100;
        }
        .input-group label {
          margin: 0;
          flex: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <a href="{% url 'add_reserva' %}">
          <button>
              <i id="ibtn_submit" class="icon fa fa-plus"></i> Solicitar Turno
          </button>
        </a>
        {% if lista %}
            <table class="pure-table pure-table-horizontal pure-table-bordered">
                <thead>
                    <tr>
                        <th>Turno</th>
                        <th>Vehículo</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lst in lista %}
                        <tr>
                            <td>
                                # {{ lst.turno }}<br>
                                {{ lst.fk_Servi.nombre }}
                                <br>
                                <small>
                                    Solicitado: <br>
                                    {{ lst.fecha|date:"d/m"}}
                                </small>
                            </td>
                            <td>
                                {{ lst.fk_Vehiculo.matricula }}
                            </td>
                            <td>
                                {% if lst.estado == '1' %}
                                    <strong>EN COLA</strong>
                                {% elif lst.estado == '2' %}
                                    PROCESADO<br>
                                    {{ lst.procesada|date:"d/m" }}<br>
                                    {{ lst.litros }} litros
                                {% elif lst.estado == '3' %}
                                    PERDIDO<br>
                                    {{ lst.procesada|date:"d/m" }}
                                {% else %}
                                    CANCELADO<br>
                                    {{ lst.procesada|date:"d/m" }}
                                {% endif %}
                            </td>
                            <td>
                                {% if lst.estado == '1' %}
                                    <a onclick="confirm_delete('{{ lst.fk_Servi.nombre }}',
                                            '{{ lst.pk }}')">Cancelar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>No hay reservas.</h1>
        {% endif %}

        {% if lista_extra %}
            <h2>Gestionado por otro chofer:</h2>
            <table class="pure-table pure-table-horizontal pure-table-bordered">
                <thead>
                    <tr>
                        <th>Turno</th>
                        <th>Solicitud</th>
                        <th>Vehículo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lst in lista_extra %}
                                                    <tr>
                            <td>
                                # {{ lst.turno }}<br>
                                {{ lst.fk_Servi.nombre }}
                            </td>
                            <td>
                                {{ lst.fecha|date:"d/m"}}
                            </td>
                            <td>
                                {{ lst.fk_Vehiculo.matricula }}<br>
                                {{ lst.fk_Vehiculo.fk_Chofer.nombre }}<br>
                                {{ lst.fk_Vehiculo.fk_Chofer.telefono }}
                            </td>
                            <td>
                                {% if lst.estado == '1' %}
                                    <strong>EN COLA</strong>
                                {% elif lst.estado == '2' %}
                                    PROCESADO<br>
                                    {{ lst.procesada|date:"d/m" }}<br>
                                    {{ lst.litros }} litros
                                {% else %}
                                    TURNO PERDIDO<br>
                                    {{ lst.procesada|date:"d/m" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        function confirm_delete(servi, pk){
            let proceed = confirm("Confirma eliminar este turno en el " + servi);
            if (proceed){
                window.location = '/del_reserva/' + pk;
            }
        }
    </script>
{% endblock %}