{% extends 'base.html' %}
{% load static %}

{% block extracss %}{% endblock %}

{% block content %}
    <div class="content">
        <a href="
            {% if user.is_superuser %}
                {% url 'add_servicentro' %}
            {% else %}
                {% url 'add_combustible' %}
            {% endif %}
            "
        >
          <button>
              <i id="ibtn_submit" class="icon fa fa-plus"></i> Adicionar
              {% if user.is_superuser %}
                ServiCentro
              {% else %}
                Combustible
              {% endif %}
          </button>
        </a>
        {% if servicentros %}
            <table class="pure-table pure-table-horizontal pure-table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        {% if user.is_superuser %}
                            <th>Responsable</th>
                        {% endif %}
                        <th>Gasolina (lts)</th>
                        <th>Diesel (lts)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servi in servicentros %}
                        <tr>
                            <td>{{ servi.nombre }}</td>
                            {% if user.is_superuser %}
                                <td>
                                    {% for resp in servi.get_responsables %}
                                        {{ resp.fk_User.first_name }}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            <td>{{ servi.total_gasolina }}</td>
                            <td>{{ servi.total_diesel }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>No hay servicentros.</h1>
        {% endif %}

        {% if historial %}
            <h3>Historial de Servicio</h3>
            <table class="pure-table pure-table-horizontal pure-table-bordered">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Servicentro</th>
                        <th>Combustible</th>
                        <th>Litros</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hst in historial %}
                        <tr>
                            <th>{{ hst.fk_User.username }}</th>
                            <th>{{ hst.fecha|date:"d/m h:i a" }}</th>
                            <th>{{ hst.fk_Servi.nombre }}</th>
                            <th>
                                {% if hst.gasolina %}gasolina{% else %}diesel{% endif %}
                            </th>
                            <th>{{ hst.litros }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
