{% extends 'base.html' %}
{% load static %}

{% block extracss %}{% endblock %}

{% block content %}
    <div class="content">
        <h2>{{ servi.total_gasolina }} litros restantes</h2>
        <h3>{{ servi.get_cola_gasolina_procesar|length }} vehículos en turno</h3>
        <table class="pure-table pure-table-horizontal pure-table-bordered">
            <thead>
                <tr style="text-align: center">
                    <th colspan="5">Turnos y Matrículas</th>
                </tr>
            </thead>
            <tbody style="text-align: center">
                <tr>
                {% for auto in servi.get_cola_gasolina_procesar %}
                    <td>
                        #{{ auto.turno }}<br>
                        {{ auto.fk_Vehiculo.matricula }}
                    </td>
                    {% if forloop.counter|divisibleby:"5" %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        /* Cada 10 minutos actualizar */
        setTimeout(() => {  window.location = '/tiempo_real_gasolina/' + '{{ servi.pk }}' }, 1000*60*10);
    </script>
{% endblock %}
